@import "compass/css3/box-shadow";

.top-bar {
	.name {
		font-size: 2.5*$base-font-size;
	}
}


.page-content__nav {
	background: $black;
	padding: 0;
	border-right: 1px solid $section-title-bg-active;
	@include box-shadow(1px 1px 1px 0px rgba(255,255,255,1));

	.row .columns {
		padding: 0;
	}

	.section-container {
		border: none;
		margin-bottom: 0;

		section {
			border-color: darken(#fff,70%);
			@include box-shadow(6px -7px 6px -8px #222);

			.content {
				margin-left: .5*$column-gutter;
			}

			.title a {
				font-size: .9*$base-font-size;
			    font-weight: 600;
			    text-transform: uppercase;
			}

			.title a:hover {
				color: white;
			}

		}

		section :first-child {
			box-shadow: none;
		}

		.section__divider {
			border-width: 0;
			margin-bottom: $column-gutter;
		}
	}

	.side-nav li {
		font-weight: 200;
	}

	.side-nav li a:hover{
		color: $side-nav-link-color-active;
	}


	@media #{$small} {
		min-height: 100%;
		.row .columns {width: gridCalc(12, 12);}
	}

	@media #{$medium} {
		.row .columns {width: gridCalc(8, 12);}
		.section-container section .title a {font-size: $base-font-size;}
	}
}