@import "mixins/imageEffects";

.page-content {
	min-width: 100%;
	min-height: 100%;

	.columns {
		padding: 0;
	}

}

%list-styling {
	list-style-position:inside;
	margin-left: .5*$column-gutter;
	color: mix(#fff, $body-font-color, 25%);
	font-size: .9*$base-font-size;
}

.page-content__articles{
	height: 100%;
	max-width: 750px;
	padding: $column-gutter;

	@media #{$small} {
		padding: 1.5*$column-gutter;
	}

	.button.radius {
		margin-top: $column-gutter;
		margin-bottom: $column-gutter;

		i {
			color: lighten($primary-color, 30%);
		}
	}

	.authorCredits {
		padding: {
			top: $column-gutter;
			left: $column-gutter;
			right: $column-gutter;
			bottom: 0.5*$column-gutter;
		}

		.profile-picture {
			@include makeImageHolderRound(100px, 4px, true);
			position: absolute;
			margin-top: 0.3*$column-gutter;
		}

		.authorCredits {
			list-style: none;
			margin-left: 120px;
			padding-top: 0.3*$column-gutter;

			.authorCredits__name {
				line-height: 1.2*$base-font-size;
				margin-bottom: 0.5*$column-gutter;
				h4 {margin-bottom: 5px;}
				em { font-size: 0.9*$base-font-size;}
			}

			li {
				a + a { margin-left: 10px;}
			}

		}
	}

	.authorCredits + hr {margin-top: 0;}
	.sharing-options {
		text-align: right;
		top: -32px;
	}


	ul {
		@extend %list-styling;
	}

	ol {
		@extend %list-styling;
	}

	h1{
		color: $success-color;
	}

	h1 + p {
		font-weight: 500;
		font-size: 1.2*$base-font-size;
		line-height: 1.8*$base-font-size;
		color: darken($body-font-color, 10%);
	}

	hr + h1,h2,h3,h4 { margin-top: .5*$column-gutter;}

	h2 {
		color: darken($body-font-color, 30%);
	}

	h3 {
		color: darken($body-font-color, 20%);
	}

	h4 {
		color: darken($body-font-color, 10%);
		text-transform: uppercase;
		font-weight: 400;
	}

	p em {
		font-weight: 400;
		font-size: 0.9*$base-font-size;
		line-height: 0.7*$base-font-size !important;
		color: darken($body-font-color, 20%);
		background: lighten($body-bg, 25%);
	}

	hr {
		margin-top: $column-gutter;
		margin-bottom: 0.2*$column-gutter;
	}

	.button-group li {
		margin-left: -9px;
	}


	.highlight pre {
		overflow: auto;
		background: white;
		font-size: 0.9em;
		padding: 0.5*$column-gutter;
		border: 1px solid $contentBorderColor;
		font-family: 'Droid Sans Mono', "ubuntu mono", "Courier New", Courier, monospace;
		line-height: 1.4*$base-font-size;
	}

	hr + h5 {  text-transform: uppercase	}
	h5 + hr { margin-top: 0;	}
	h4 + p { font-size: 0.9*$base-font-size;}
	// hr + p { font-size: 0.8*$base-font-size;}
}