.page-content {
	padding {
		top: $column-gutter;
	}

	.page-content__articles {
		padding: $column-gutter;
	}
}


.page-content__articles{



	ul {
		list-style-position:inside;
		margin-left: .5*$column-gutter;
	}
}