// Global Foundation Settings
@import "compass";
@import "settings";

@import "foundation";

// Mixins
@import "mixins/fontFace";

// Imports
@import "page-content";
@import "navigation";
@import "footer";
@import "fontCustom";

@import "highlight";

// Comment out this import if you are customizing you imports below

html {
	height: 100%;
    // @media #{$small} {
    //     @include background-image(linear-gradient(left, $black 24.9%, $body-bg 25%));
    // }
}

body {
	height: 100%;

	// @media #{$small} {
	// 	@include background-image(linear-gradient(left, $black 25%, $body-bg 25%));
	// }
}

iframe {
    position: absolute;
    right: 0;
    top: 26px;
    z-index: 100;
}

#gradient-container {
    @media #{$small} {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include background-image(linear-gradient(left, $black 25%, $body-bg 25%));
    }
}
#gradient-container-name {
    @media #{$small} {
      position: absolute;
      height: 80px;
      left: 0;
      top: 0;
      width: 100%;
      @include background-image(linear-gradient(left, $black 0%, $black 25%, $topbar-bg 25%, $topbar-bg 100%));
    }
}

@import "arrows/*.png";

.steps {
  border: 1px solid #032428;
  border-radius: 7px;
  height: 14px;
  background-color: #032428;
  list-style: none;
  margin: 0;
  // padding: 0;
  position: relative;
  margin-top: 100px;
  margin-bottom: 80px;

  li {
    width: percentage(1/13);
    float: left;
    position: relative;

    span {
      color: #fff;
      background: {
        image: image-url("arrows/list_step_shape.png");
      }
      display: block;
      width: 31px;
      padding-right: 2px;
      height: 33px;
      line-height: 30px;
      text-align: center;
      font-weight: bold;
      margin: {
        top: -9px;
        left: auto;
        bottom: 0;
        right: auto;
      }
    }

    a {
      position: absolute;
      background: #d4d4d4;
      border: 1px Solid #4e6c70;
      color: #032428;
      width: 150px;
      left: 4.5px;
      // left: 50%;
      text: {
        align: center;
        decoration: none;
      }
      margin: 0 auto;
      font-size: 16px;
      padding: {
        top: 4px;
        right: 8px;
        bottom: 5px;
        left: 8px;
      }
      &[href]:hover {
        background-color: #bf4f67;
        border-color: #8b2f43;
        color: #fff;
      }
    }

    a {
      top: auto;
      bottom: 45px;
      &[href]:hover {
        &:before {
          @include arrows-sprite(list_step_box_arrow_down_hover);
        }
      }
      &:before {
        content:"";
        position: absolute;
        left: 50%;
        display: block;
        @include arrows-sprite(list_step_box_arrow_down);
        height: arrows-sprite-height(list_step_box_arrow);
        width: arrows-sprite-width(list_step_box_arrow);
        margin-left: -0.5*arrows-sprite-width(list_step_box_arrow);
        top: auto;
        bottom: -6px;
      }
    }

    &.even,
    &:nth-child(even) {
      a {
        top: 32px;
        bottom: auto;
        &[href]:hover:before {
          @include arrows-sprite(list_step_box_arrow_hover);
        }
        &:before {
          @include arrows-sprite(list_step_box_arrow);
          top: -6px;
        }
      }
    }
  }
}
.steps--fourteen {
  li {
    width: percentage(1/14);
  }
}
.steps--eleven {
  li {
    width: percentage(1/11);
  }
}
.steps--four {
  li {
    width: percentage(1/4);
  }
}

.steps--six {
  li {
    width: percentage(1/6);
  }
}

.container-fluid {
  padding-top: 20px;
  max-width: 1100px;
}
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

